html {
  background-color: rgb(243, 207, 230);
}

.appHeading {
  font-family: 'Times New Roman', Times, serif;
  border: 10px;
  font-size: 55px;
  color: rgb(84, 36, 75);
  text-align: center;
  padding: 16px;
  margin: 25px;
}

.taskInput {
  background-color: rgb(233, 200, 225);
  padding: 10px;
  border-radius: 8px;
  color: rgb(245, 247, 248);
  font-size: 20px;
}

#taskInput::placeholder {
  color: rgb(107, 106, 104);
}

#new-task-submit {
  color: rgb(250, 247, 250);
  font-size: 20px;
  width: 200 px;
  height: 40px;
  padding: 2px 8px;
  border-radius: 8px;
  background-color: rgb(116, 112, 116);
  cursor: pointer;
  transition: 0.4s;
}

#new-task-submit:hover {
  opacity: 0.8;
}

input {
  width: 200px;
  height: 40px;
  font-size: 20px;
  background-color: rgb(233, 200, 225);
  color: rgb(98, 102, 105);
  padding: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

label {
  font-size: 35px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(244, 246, 248);
}

#add {
  font-size: 28px;
  width: 140px;
  padding: 8px;
  border-radius: 8px;
  background-color: rgb(136, 130, 136);
  color: rgb(43, 49, 54);
}

::placeholder {
  color: rgb(98, 102, 105);
  font-size: 25px;
}

.task-list h1 {
  font-size: 1.5rem;
  font-weight: 300;
  color: rgb(65, 65, 62)
}

#tasks .task {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.task .actions button {
  cursor: pointer;
  margin: 0 0.5rem;
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
}

.task .actions .completed {
  color: rgb(151, 67, 136);
  font-size: 20 px;
  text-transform: uppercase;
}

#completed button {
  color: rgb(189, 136, 168);
}

.task .actions .edit {
  background-color: rgb(151, 67, 136);
  color: antiquewhite;

}

.task .actions .delete {
  background-color: rgb(219, 76, 107);
  color: antiquewhite;
}

.tasks {
  justify-content: space-between;
}

form {
  display: flex;
  flex-direction: column;
  background-color: rgb(110, 66, 99);
  margin-top: 20px;
  align-items: center;
  gap: 7px;
  color: rgb(249, 245, 248);
}

.outputs {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

#notice {
  color: rgb(247, 243, 243);
  padding: 8px;
  border-radius: 2px;
  font-size: 28px;
}

.grey-mode {
  background-color:  rgb(110, 66, 99);
  color: rgb(181, 170, 176);
}