body {
  font-family: sans-serif;
  margin: 0 50px;
  background-color: rgb(243, 207, 230);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} 
 h1{
  font-size: 50px;
  font-weight: bold;
  font-family:'Times New Roman', Times, serif;
  color: rgb(168, 69, 132);;
 }

.app {
  background-color:rgb(249, 236, 244);
  width: 90%;
height:80%;
  border: 5px solid rgb(168, 69, 132);
  border-radius: 8px;
  padding: 15px;
  overflow-y: scroll;
}

.app::-webkit-scrollbar {
  width: 0 !important;
}

#addNew {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(243, 207, 230);
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.fa-plus {
  background-color: rgb(153, 146, 151);
  padding: 3px;
  border-radius: 3px;
}

.options i {
  font-size: 25px;
}

#tasks {
  display: grid;
  grid-template-columns: 1fr;
  gap: 14px;
}

#tasks div {
  border: 3px solid rgb(168, 69, 132);
  background-color:rgb(243, 207, 230);
  border-radius: 6px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 4px;
}

#tasks div .options {
  justify-self: center;
  display: flex;
  gap: 20px;
}

#tasks div .options i {
  cursor: pointer;
}

#msg {
  color: red;
}

.greyMode {
  background-color: rgb(139, 138, 136);
}